.app {
  font-family:'Courier New', Courier, monospace;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 150vh;
}

p{
  font-size: 100px;      
  color: #3bcc9c;             
  font-family: 'Courier New', Courier, monospace; 
  font-weight: bold;         
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); 
  border-radius: 10px;        
  display: inline-block;      
  transition: color 0.3s ease; 
  letter-spacing: 2px;        
  margin: 20px;               
  padding: 10px;              
  background-color: #f0f8ff;  
}

h1{
  font-size: 100px;
}

section {
  margin-bottom: 30px;
  width: 100%;
  max-width: 500px;
  text-align: center;
}

h2{
  font-size: 2em;
}

input {
  padding: 8px;
  margin-right: 10px;
  margin-bottom: 15px;
}

button {
  padding: 8px 16px;
  background-color: #3bcc9c;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #3e8bdd;
}

.song-playing p {
  font-size: 1.2em;
  font-weight: bold;
  color: green;
}

ul li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 7px;
  border: 1px solid #3bcc9c;
  border-radius: 10px;
}

button {
  padding: 5px 10px;
  background-color: #3bcc9c;
  color: white;
  border: none;
  cursor: pointer;
  
}

button:hover {
  background-color: #3e8bdd;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}